*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 1rem = 10px for deafult browser settings */
}

body {
    box-sizing: border-box;
    font-size: 1.6rem
}

.container {
    margin: 0 auto;
    max-width: 150rem;
    background-color: #ffeae3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.8rem;
}

.text-box {
    margin: 0.8rem;
    min-width: 30rem;
    border-radius: 5px;
    -webkit-flex: 1 1 30rem;
    flex: 1 1 30rem;
    padding: 0.5rem;
}

.text-box:nth-child(odd) {
    background-color: #fdeddc;
    border: 1px solid #dfab95;
}

.text-box:nth-child(even) {
    background-color: #e8f6ff;
    border: 1px solid #839dbf;
}
